.login-form-component{
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  background-color: #f0f8ff;
  display: block;

  > button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
  }
}

.login-form{
  margin: auto;
  width: 80%;
}

.error-message{
  color: red;
  text-align: center;
}