.header-component {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #337079;
  color: white;

  > .home {
    margin: auto auto auto 10px;
  }

  > .list {
    margin: auto 10px auto auto;
    list-style: none;
  }
  > .list > .item {
  }
}
