.input-component {
  text-align: center;
  :focus {
    border: 2px solid #ff9900;
    z-index: 10;
    outline: 0;
  }
  > label {
    text-align: left;
  }
  > input {
    width: 80%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
  }
}

.error-message {
  color: red;
}
